
.topMenuBar {
	background-color: #efefef ;
}
.divWithScrolableTable{
	width: 325px; 
	height: 450px; 
	overflow: auto
	
}


.dashBoardBodyDiv{
	width: 800px; 
	height: 640px;
	background-color: #c3d9ff; 
	overflow: auto
}


.dashBoardMenuDiv{
	width: 325px; 
	height: 450px;
	height: 640px;
	background-color: #669eff;  
	overflow: auto
}
